#slideshow{
    position: relative;
    width: 800px;
    height: 400px;
    
    


}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    
}

.slide:nth-child(1){
    display: block;
}
